#particles
  #intro
    %h1 RUNDOWN
    %h2 YouTubeを学習に利用して、自分だけのノートを作りましょう
    %button.popupbutton 詳しく
    .wrap
      .content
        %p.content2 RUNDOWNは学習者向けのアプリです。特にYouTube動画を学習に利用している方におすすめです。
        .content2
          %p このアプリでできること
          %p ①YouTube動画とメモの投稿　②動画の再生開始時間設定　③ノートの共有とコメント
        .content2
          %p ポイント
          %p ・YouTube動画のURLを貼り付けるだけで簡単に投稿が可能です。
          %p ※投稿する際、動画の評価を3段階で行ってください。マイページで星の数ごとにノートが振り分けられます。

  %footer.footer
    %p.footer__info
      Copyright &copy; 2020 RUNDOWN All Rights Reserved.　
