#particles
  #intro
    %h1 RUNDOWN
    %h2 Let's make our own notebook using YouTube for learning!
    %button.popupbutton Learn More
    .wrap
      .content
        %p RUNDOWN is the perfect tool for learning with YouTube videos, offering unique features like creating your own notes with YouTube videos, setting start times for video playback so you can start playing from the desired time, sharing notes, and connecting with other users by commenting on each other's notes. Just by pasting a YouTube video URL, you can quickly post notes and videos with ratings of up to 3 stars.

  %footer.footer
    %p.footer__info
      Copyright &copy; 2023 RUNDOWN All Rights Reserved.　
