#particles
  #intro
    %h1 RUNDOWN
    %h2 Let's make our own notebook using YouTube for learning!
    %button.popupbutton Learn More
    .wrap
      .content
        %p.content2 RUNDOWN is an app for learners. It is especially recommended for those who use YouTube videos for learning.
        .content2
          %p What you can do with this app:
          %p 1. Post YouTube videos and notes 　2. Set start time for video playback 　3. Share and comment on notes
        .content2
          %p 【Key Features】
          %p ・You can post easily by just pasting a YouTube video URL.
          %p *When you post a video, please rate it on a 3-point scale. Notes will be assigned according to the number of stars on My Page.

  %footer.footer
    %p.footer__info
      Copyright &copy; 2023 RUNDOWN All Rights Reserved.　
