#particles
  #intro
    %h1 RUNDOWN
    %h2 Let's make our own notebook using YouTube for learning!
    %button.popupbutton Learn More
    .wrap
      .content
        %p RUNDOWN is an ideal tool for learning with YouTube videos, offering unique features such as posting YouTube videos, setting playback start times, making notes, and sharing notes. Just by pasting a YouTube video URL, users can quickly post videos along with a rating of stars.

  %footer.footer
    %p.footer__info
      Copyright &copy; 2023 RUNDOWN All Rights Reserved.　
