#particles
  #intro
    %h1 RUNDOWN
    %h2 Let's make our own notebook using YouTube for learning!
    %button.popupbutton Learn More
    .wrap
      .content
        %p RUNDOWN is the perfect tool to learn with YouTube videos, offering unique features like creating your own notes to accompany videos, setting start times for video playback, sharing notes, and connecting with other users by commenting on each other's notes. Just by pasting a YouTube video URL, you can quickly post notes and videos with a rating of up to three stars.

  %footer.footer
    %p.footer__info
      Copyright &copy; 2023 RUNDOWN All Rights Reserved.　
